body {
	font-family: sans-serif;
}

#graph-container {
	position: relative;
	background-color: #DDD;
	display: inline-block;
}

#graph-container span {
	position: absolute;
	top: 0;
	left: 0%;
	width: 1px;
	height: 100%;
	background-color: green;
}

label {
  font-weight: bold;
  display: inline-block;
  width: 130px;
}

button {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #DDD;
  background-color: #333;
  padding: 6px;
  border-radius: 4px;
  border: 0;
}

button:hover,
button:active {
  color: #FFF;
  background-color: #000;
  text-shadow: 0 0 4px #AA0;
}

audio,
video {
	display: none;
}

audio.show,
video.show {
	display: inherit;
}

textarea {
	font-size: 20px;
	width: 80%;
}

.current {
	background-color: yellow;
}

#trans {
  font-size: 14px;
  width:  600px;
  height: 300px;
}
