body {
	font-family: sans-serif;
}

#graph-container {
	position: relative;
	background-color: #DDD;
	display: inline-block;
}

#graph-container span {
	position: absolute;
	top: 0;
	left: 0%;
	width: 1px;
	height: 100%;
	background-color: green;
}

audio,
video {
	display: none;
}

audio.show,
video.show {
	display: inherit;
}

textarea {
	font-size: 20px;
	width: 80%;
}

.current {
	background-color: yellow;
}
